* {
    color: darkblue !important;
}

header{
    background: url("../site_img/trout.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.trans {
    opacity: 0.4;
    filter: alpha(opacity = 40)
}


.my_header, aside {
    text-align: center;
}


aside, section{
    background-color: #d5dee3;
    /*border: 3px solid red;*/
    margin-top: 50px;
    padding: 50px;
}


.nav-item .nav-link {
    font-size: 25px

}

.nav-item .nav-link:hover {
    color: purple !important;
}

.navbar {
    /*border: 3px solid #73AD21;*/
}

#navbarNavDropdown ul{
    /*border:3px solid orangered !important;*/
    width: 70%; /*  provides centering of the nav*/
    margin: auto;
}

.home_page_welcome p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.my_header #sub_header {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black !important;
    /*opacity: 1;*/

}

.my_header #site_header {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: black !important;

}