* {
    color: darkblue !important;
}

header{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../site_img/trout.jpg");
    /*background: url("../site_img/trout.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: auto;*/

}

.my_header, aside {
    text-align: center;
}


aside, section{
    background-color: #d5dee3;
    /*border: 3px solid red;*/
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 25px;
    padding: 50px;

}

#fish {
    margin-left: 25px;
}

.nav-item .nav-link {
    font-size: 25px;

}

.nav-item .nav-link:hover {
    color: mediumpurple !important;

}

.navbar {
    /*border: 3px solid #73AD21;*/
}


#navbarNavDropdown ul{
    /*border:3px solid orangered !important;*/
    width: 70%; /*  width of the inline element*/
    margin: auto; /*  margin from top*/
    margin-left: 8%;


}

.home_page_welcome p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.my_header #sub_header {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: black !important;

}

.my_header #site_header {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: black !important;

}