{% extends "main_body/sidebar_content.html" %}

{% block content %}
    <div class="home_page_welcome">
        <p>Welcome to HooKed</p>
        <p>We specialise in trout fly fishing and the the skills needed to catch fish all year round.
            While in brief we discuss some specifics about equipment, this is complementary to the
            tactics and fly selection as this can be dependent upon certain equipment employed.</p>
        <p>We also take a look at environments, from concrete bowls to natural settings, large or
            small and how to use synthetic and imitation flye to their fullest effect</p>

    </div>
{% endblock content %}