{% extends "main_body/sidebar_content.html" %}

    {% block content %}
    {% if news %}
            {% for post in news %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <small class="text-muted">{{ post.date_posted|date:"d F, Y" }} by {{ post.author}}</small>
                        </div>
                        <h2>{{ post.title }}</h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </article>
            {% endfor %}
    {% else %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <p>No news currently</p>
                </div>
            </div>
        </article>
    {% endif %}

{% endblock content %}